//			SASS MAIN COLOR SHORTHANDS		//

$blue: rgb(38,63,139);
$blue-light-text: rgb(107, 163, 255);
$blue-light-bg: lighten($blue, 55%);
$blue-light-bg-2: lighten($blue, 65%);
$blue-light:  #00A8E8;

$red: rgb(255,0,0);

$dark: #222;
$light: #bbcde5;
