.product-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  tbody, thead {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .product-table-item {
    display: flex;
    flex-direction: column;
    padding: .5em 1em;
    &:nth-of-type(odd){background: $blue-light;}
    &:nth-of-type(even){background: $blue-light-2;}
    .product-table-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      img {
        max-width: 200px;
      }
    }
    .product-table-description {
      flex: 4;
      ul {
        list-style-type: none;
        padding: 0 1em;
      }
      ul li:first-of-type {
        text-align: center;
        font-weight: 700;
      }
    }
    .product-table-photo {
      flex: 2;
      text-align: center;
      img {
        max-width: 300px;
        max-height: 200px;
      }
    }
  }
  thead { display: none; }
}

@media (min-width: 890px) {

  .product-table tbody, thead {
    .product-table-item {
      flex-direction: row;
    }
  }
}
