@import './core-styling/fonts';

body {
  display: flex;
  flex-direction: column;
  //background-color: blue;
  font-family: $font-paragraphs, 'Open Sans', Lato, sans-serif;
  background-color: #eee;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $font-headers, Lato, Serif;
  text-align: center;
}
