@import 'fonts';
@import '../mixins/color';

// CHANGE BODY STYLING: DARK BACKGROUND AND LIGHT COLOR FONTS

body {
  background-color: $light;
}

h1, h2, h3, h4, h5, h6 {
  color: $blue;
}

p, a {
  color: $dark;
}
