//@import url('https://fonts.googleapis.com/css?family="Open Sans"|Lato|Press+Start+2P|Bowlby+One+SC|Carter+One');

$font-headers: 'Press Start 2P';
$font-headers: 'Bowlby One SC';
$font-headers: 'Carter One';

$font-paragraphs: 'Lato'; 
