// This is for adjusting the primary page wrapper for all content

.container {
  display: flex;
  flex-direction: column;
  background: white;
  min-height: 85vh;
  padding: 0;
  box-shadow: 0 0 5px black;
  margin-bottom: 1px;
}
