.brand {
  display: flex;
  flex: 1;
  font-family: $font-headers, Serif;
  a {
    display: flex;
    align-items: center;
    font-size: 2em;
    color:white;
    text-decoration: none;
    @include transition;
    &:hover {
      color: $blue-light;
    }
    img {
      margin-right: .5em;
    }
  }
}

@media (max-width: 550px) {
  .brand {
    padding-right: 15vw;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .brand a {
    font-size: 3em;
  }
}
