.nav-list {
  display: flex;
  flex-direction: row;
  padding-right: 1em;
  ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    li {
      padding: 0 .5em;
      border: 1px solid white;
      margin: 0 .25em;
      border-radius: 5px;
      font-size: 2em;
      font-family: Katibeh, serif;
      display: flex;
      @include transition;
      background: white;

      &:hover {
        background: $blue-light;
        //border: 1px solid $blue;
        a{
          color:white;
        }
      }
      a {
        margin-bottom: .25em;
        text-decoration: none;
        line-height: 1.25em;
      }
    }
  }
}
