/* ALSO INCLUDES COLLAPSE NAV BUTTON */

nav {
  @include nav-bg-gradient;
  display: flex;
  text-decoration: none;
  min-height: 7.5vh;
  li {
    font-family: Katibeh, Serif;
  }
  &.navbar {
    padding: 0;
  }
  button.navbar-toggler {
    background: rgba(255,255,255,.7);
    border-color: rgba(255,255,255,.1);
    
  }
  button.navbar-toggler-right {
    margin-top: 1em;
  }
}

@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-collapse {
    width: auto;
  }
}
