nav {
  //background-color: rgba(38,63,139,0.85);
  //background-color: $blue;
  @include nav-bg-gradient;
  display: flex;
  text-decoration: none;
  align-items: center;
  min-height: 7.5vh;
  li {
    font-family: Katibeh, Serif;
  }
  button.navbar-toggler {
    background: rgba(255,255,255,.7);
    border-color: rgba(255,255,255,.1);
  }
  button.navbar-toggler-right {
    margin-top: .5rem;
  }
}

@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-collapse {
    width: auto;
  }
}
