.carousel-container {
  padding: .5em 1em;
  display: flex;
  justify-content: center;

  .carousel {
    display: flex;
    justify-content: center;
    overflow: hidden;
    @include box-shadow-iframe;
    .carousel-inner { background: $blue;}
    .carousel-item img {
      max-width: 600%;
      max-height: 480px;
    }
    .carousel-control-next, .carousel-control-prev {
      background: $blue;
      @include transition;
      opacity: .15;
      &:hover {
        opacity: .4;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .carousel-container {
    flex: 2;
  }
}
