.carousel-container {
  display: grid;
  padding: .5em 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .landing-product-logos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: .5em;
    //padding: 10px 0;
    img {
      max-height: 50px;
      //width: 100px;
      padding: 2.5px 10px;
    }
  }

  h2 {
    font-size: 3em;
  }
  h4 {
    padding-top: 1em;
  }

  .carousel {
    display: flex;
    justify-content: center;
    overflow: hidden;
    @include box-shadow-iframe;
    .carousel-inner > .item > img { margin: 0 auto;}
    .carousel-inner { background: $blue;}
    .carousel-item img {
      width: 100%;
      height: 100%;
    }
    .carousel-control-next, .carousel-control-prev {
      background: $blue;
      @include transition;
      opacity: .15;
      &:hover {
        opacity: .4;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .carousel-container {
    flex: 2;
  }
}

@media screen and (width: 992px) {
  .carousel-container {
    flex: 2;
  }
}
