.carousel-container {
  //background: blue;
  padding: .5em 1em;
  display: flex;
  justify-content: center;

  .carousel {
    background: black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    @include box-shadow-iframe;
    .carousel-item img {
      max-width: 600%;
      max-height: 480px;
    }
    .carousel-control-next, .carousel-control-prev {
      background: white;
      @include transition;
      opacity: .15;
      &:hover {
        opacity: .4;
      }
    }
    .carousel-control-prev {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .carousel-control-next {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

@media screen and (min-width: 992px) {
  .carousel-container {
    flex: 2;
  }
}
