.facebook-widget-container {
  //background: transparentize(blue, .6);
  padding: .5em 1em;
  .fb-page.fb_iframe_widget {
    display:flex;
    justify-content: center;
    span {
      box-shadow: 0 0 10px 5px white;
    }
  }
}



@media screen and (min-width: 992px) {
  .facebook-widget-container{
    flex: 1;
  }
}
