.container {
	padding-top: 75px;
}

.landing-container {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

@media (min-width: 992px) {
  .landing-container {

    flex-direction: row;
  }
}
